".source.js":
  "module export":
    prefix: "ex"
    body: "export ${1:member};"
  "import module":
    prefix: "im"
    body: "import ${2:*} from '${1:module}';"
  "import module as":
    prefix: "ima"
    body: "import ${2:*} as ${3:name} from '${1:module}';"
  "import module named":
    prefix: "imn"
    body: "import \{ ${2:name} \} from '${1:module}';"
